.noticesearch-container {
    width: 100%;
    display: flex;
    overflow: auto;
    min-height: 100vh;
    align-items: center;
    flex-direction: column;
  }
  .noticesearch-textinput {
    top: 177px;
    left: 0px;
    right: 0px;
    width: 425px;
    height: 63px;
    margin: auto;
    position: absolute;
    border-color: #0066ff;
  }
  .noticesearch-text {
    top: 17px;
    left: 35px;
    color: rgb(0, 102, 255);
    width: var(--dl-size-size-medium);
    height: auto;
    position: absolute;
    font-size: 40px;
    font-style: italic;
    text-align: center;
    font-family: "Inter";
    font-weight: 300;
    line-height: 40px;
    font-stretch: normal;
    text-decoration: none;
  }
  .noticesearch-text01 {
    top: 60px;
    left: 13px;
    color: rgb(0, 102, 255);
    width: var(--dl-size-size-xxlarge);
    height: auto;
    position: absolute;
    font-size: 22px;
    font-style: italic;
    text-align: center;
    font-family: "Inter";
    font-weight: 300;
    line-height: 40px;
    font-stretch: normal;
    text-decoration: none;
  }
  .noticesearch-footer {
    left: 123px;
    width: 100%;
    bottom: 38px;
    display: flex;
    position: absolute;
    max-width: var(--dl-size-size-maxwidth);
    align-items: center;
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-threeunits);
    padding-right: var(--dl-space-space-threeunits);
    padding-bottom: var(--dl-space-space-twounits);
    justify-content: flex-end;
  }
  .noticesearch-text02 {
    top: 29px;
    left: 536px;
    position: absolute;
  }
  .noticesearch-icon-group {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
  }
  .noticesearch-icon {
    width: var(--dl-size-size-xsmall);
    height: var(--dl-size-size-xsmall);
    margin-right: var(--dl-space-space-twounits);
  }
  .noticesearch-icon2 {
    width: var(--dl-size-size-xsmall);
    height: var(--dl-size-size-xsmall);
    margin-right: var(--dl-space-space-twounits);
  }
  .noticesearch-icon4 {
    width: var(--dl-size-size-xsmall);
    height: var(--dl-size-size-xsmall);
  }
  .noticesearch-form {
    top: 0px;
    left: 0px;
    width: 100%;
    height: 120px;
    display: flex;
    position: absolute;
    align-self: center;
    border-color: var(--dl-color-gray-black);
    border-style: groove;
    border-width: 2px;
  }
  .noticesearch-button {
    top: 35px;
    left: 450px;
    position: absolute;
    border-color: #ffffff;
  }
  .noticesearch-text06 {
    font-size: 20px;
    font-style: normal;
    font-weight: 900;
  }
  .noticesearch-button1 {
    top: 37px;
    color: #ffffff;
    right: 60px;
    width: 123px;
    height: 56px;
    position: absolute;
    font-size: 20px;
    background-color: #000000;
  }
  .noticesearch-button2 {
    top: 35px;
    left: 534px;
    position: absolute;
    border-color: #ffffff;
  }
  .noticesearch-text12 {
    font-size: 20px;
    font-style: normal;
    font-weight: 900;
  }
  .noticesearch-button3 {
    top: 35px;
    left: 690px;
    position: absolute;
    font-size: 20px;
    font-style: normal;
    font-weight: 900;
    border-color: #ffffff;
  }
  .noticesearch-button4 {
    top: 35px;
    left: 877px;
    position: absolute;
    font-size: 20px;
    border-color: #ffffff;
  }
  .noticesearch-text15 {
    font-style: normal;
    font-weight: 900;
  }
  .noticesearch-button5 {
    top: 35px;
    left: 1027px;
    position: absolute;
    font-size: 20px;
    border-color: #ffffff;
  }
  .noticesearch-text18 {
    font-style: normal;
    font-weight: 900;
  }
  .noticesearch-button6 {
    top: 200px;
    left: 1080px;
    color: rgb(0, 0, 0);
    position: absolute;
    border-color: #7ab1ff;
  }
  .noticesearch-text21 {
    color: #7ab1ff;
  }
  .noticesearch-form1 {
    top: 340px;
    left: 0px;
    right: 0px;
    width: 699px;
    height: 116px;
    margin: auto;
    display: flex;
    position: absolute;
    box-shadow: 5px 5px 10px 0px #7ab1ff;
    border-color: #7ab1ff;
    border-width: 1px;
  }
  .noticesearch-text24 {
    top: 40px;
    left: 80px;
    color: rgb(0, 102, 255);
    width: var(--dl-size-size-large);
    height: var(--dl-size-size-small);
    position: absolute;
    font-size: 25px;
    text-align: center;
  }
  .noticesearch-text25 {
    top: 40px;
    left: 0px;
    color: rgb(0, 102, 255);
    right: 0px;
    width: var(--dl-size-size-large);
    height: var(--dl-size-size-small);
    margin: auto;
    position: absolute;
    font-size: 25px;
    text-align: center;
  }
  .noticesearch-text26 {
    top: 40px;
    color: rgb(0, 102, 255);
    right: 80px;
    width: var(--dl-size-size-large);
    height: var(--dl-size-size-small);
    position: absolute;
    font-size: 25px;
    text-align: center;
  }
  .noticesearch-form2 {
    top: 520px;
    left: 0px;
    right: 0px;
    width: 699px;
    height: 116px;
    margin: auto;
    display: flex;
    position: absolute;
    box-shadow: 5px 5px 10px 0px #7ab1ff;
    border-color: #7ab1ff;
    border-width: 1px;
  }
  .noticesearch-text27 {
    top: 40px;
    left: 80px;
    color: rgb(0, 102, 255);
    width: var(--dl-size-size-large);
    height: var(--dl-size-size-small);
    position: absolute;
    font-size: 25px;
    text-align: center;
  }
  .noticesearch-text28 {
    top: 40px;
    left: 0px;
    color: rgb(0, 102, 255);
    right: 0px;
    width: var(--dl-size-size-large);
    height: var(--dl-size-size-small);
    margin: auto;
    position: absolute;
    font-size: 25px;
    text-align: center;
  }
  .noticesearch-text29 {
    top: 40px;
    color: rgb(0, 102, 255);
    right: 80px;
    width: var(--dl-size-size-large);
    height: var(--dl-size-size-small);
    position: absolute;
    font-size: 25px;
    text-align: center;
  }
  .noticesearch-form3 {
    top: 700px;
    left: 0px;
    right: 0px;
    width: 699px;
    height: 116px;
    margin: auto;
    display: flex;
    position: absolute;
    box-shadow: 5px 5px 10px 0px #7ab1ff;
    border-color: #7ab1ff;
    border-width: 1px;
  }
  .noticesearch-text30 {
    top: 40px;
    left: 80px;
    color: rgb(0, 102, 255);
    width: var(--dl-size-size-large);
    height: var(--dl-size-size-small);
    position: absolute;
    font-size: 25px;
    text-align: center;
  }
  .noticesearch-text31 {
    top: 40px;
    left: 0px;
    color: rgb(0, 102, 255);
    right: 0px;
    width: var(--dl-size-size-large);
    height: var(--dl-size-size-small);
    margin: auto;
    position: absolute;
    font-size: 25px;
    text-align: center;
  }
  .noticesearch-text32 {
    top: 40px;
    color: rgb(0, 102, 255);
    right: 80px;
    width: var(--dl-size-size-large);
    height: var(--dl-size-size-small);
    position: absolute;
    font-size: 25px;
    text-align: center;
  }
  .notice-register-button {
    top: 280px;
    left: 600px;
    color: #7ab1ff;
    right: 600px;
    width: var(—dl-size-size-large);
    height: var(—dl-size-size-small);
    margin: auto;
    position: absolute;
    font-size: 25px;
    text-align: center;
    border-color: #7ab1ff;
  }
  .noticesearch-text03 {
    top: 180px;
    left: 0px;
    color: #0066ff;
    right: 0px;
    width: 350px;
    height: 51px;
    margin: auto;
    position: absolute;
  }
  .resume-result-box{
    top: 340px;
    left: 0px;
    right: 0px;
    width: 699px;
    height: 800px;
    margin: auto;
    display: flex;
    position: absolute;
    border-color: #7ab1ff;
    border-width: 1px;
  }
  .resume-result-item {
    width: 100%;
    max-width: 699px;
    height: 116px;
    margin: 10px auto; /* Adjust margin for spacing and centering */
    display: flex;
    align-items: center; /* Center vertically */
    justify-content: center; /* Center horizontally */
    box-shadow: 5px 5px 10px 0px #7ab1ff;
    border-color: #7ab1ff;
    border-width: 1px;
  }
  .resume-result-text23 {
    left: 130px;
    color: rgb(0, 102, 255);
    width: var(--dl-size-size-large);
    height: var(--dl-size-size-small);
    position: absolute;
    font-size: 25px;
    text-align: center;
  }
  .resume-result-container {
    width: 100%;
    display: flex;
    overflow: auto;
    min-height: 100vh;
    align-items: center;
    flex-direction: column;
  }
  @media(max-width: 1200px) {
    .noticesearch-text {
      top: 32px;
      left: 60px;
    }
    .noticesearch-text01 {
      top: 32px;
      left: 60px;
    }
    .noticesearch-button1 {
      top: 37px;
      right: 82px;
      position: absolute;
    }
  }
  @media(max-width: 767px) {
    .noticesearch-footer {
      padding-left: var(--dl-space-space-twounits);
      padding-right: var(--dl-space-space-twounits);
    }
    .noticesearch-text02 {
      text-align: center;
      margin-left: var(--dl-space-space-unit);
      margin-right: var(--dl-space-space-unit);
    }
  }
  @media(max-width: 479px) {
    .noticesearch-footer {
      padding: var(--dl-space-space-unit);
      flex-direction: column;
    }
    .noticesearch-text02 {
      margin-left: 0px;
      margin-right: 0px;
      margin-bottom: var(--dl-space-space-unit);
    }
  }
 