.selected-resume-container {
    width: 100%;
    display: flex;
    overflow: auto;
    min-height: 100vh;
    align-items: center;
    flex-direction: column;
  }
  .selected-resume-text {
    top: 17px;
    left: 35px;
    color: rgb(0, 102, 255);
    width: var(--dl-size-size-medium);
    height: auto;
    position: absolute;
    font-size: 40px;
    font-style: italic;
    text-align: center;
    font-family: "Inter";
    font-weight: 300;
    line-height: 40px;
    font-stretch: normal;
    text-decoration: none;
  }
  .selected-resume-text01 {
    top: 60px;
    left: 13px;
    color: rgb(0, 102, 255);
    width: var(--dl-size-size-xxlarge);
    height: auto;
    position: absolute;
    font-size: 22px;
    font-style: italic;
    text-align: center;
    font-family: "Inter";
    font-weight: 300;
    line-height: 40px;
    font-stretch: normal;
    text-decoration: none;
  }
  .selected-resume-form {
    top: 0px;
    left: 0px;
    width: 100%;
    height: 120px;
    display: flex;
    position: absolute;
    align-self: center;
    border-color: var(--dl-color-gray-black);
    border-style: groove;
    border-width: 2px;
  }
  .selected-resume-button {
    top: 35px;
    left: 450px;
    position: absolute;
    border-color: #ffffff;
  }
  .selected-resume-text02 {
    font-size: 20px;
    font-style: normal;
    font-weight: 900;
  }
  .selected-resume-button1 {
    top: 37px;
    color: #ffffff;
    right: 60px;
    width: 123px;
    height: 56px;
    position: absolute;
    font-size: 20px;
    background-color: #000000;
  }
  .selected-resume-button2 {
    top: 35px;
    left: 534px;
    position: absolute;
    border-color: #ffffff;
  }
  .selected-resume-text08 {
    font-size: 20px;
    font-style: normal;
    font-weight: 900;
  }
  .selected-resume-button3 {
    top: 35px;
    left: 690px;
    position: absolute;
    font-size: 20px;
    font-style: normal;
    font-weight: 900;
    border-color: #ffffff;
  }
  .selected-resume-button4 {
    top: 35px;
    left: 877px;
    position: absolute;
    font-size: 20px;
    border-color: #ffffff;
  }
  .selected-resume-text11 {
    font-style: normal;
    font-weight: 900;
  }
  .selected-resume-button5 {
    top: 35px;
    left: 1027px;
    position: absolute;
    font-size: 20px;
    border-color: #ffffff;
  }
  .selected-resume-text14 {
    font-style: normal;
    font-weight: 900;
  }
  .selected-resume-form1 {
    left: 0px;
    right: 0px;
    width: 789px;
    bottom: 0px;
    height: 800px;
    margin: auto;
    display: flex;
    position: absolute;
    box-shadow: 5px 5px 10px 5px #7ab1ff;
    border-color: #7ab1ff;
    border-width: 1px;
    justify-content: center;
  }
  .selected-resume-text17 {
    top: 110px;
    left: 400px;
    width: 100px;
    height: var(--dl-size-size-small);
    position: absolute;
    font-size: 20px;
    font-style: normal;
    text-align: center;
    font-weight: 700;
    border-bottom: 3px solid #7ab1ff; /* Black bottom border */
    border-right: 3px solid #7ab1ff; /* Black right border */
    padding: 10px;
  }
  .selected-resume-text20 {
    top: 110px;
    left: 100px;
    width: 100px;
    height: var(--dl-size-size-small);
    position: absolute;
    font-size: 20px;
    font-style: normal;
    text-align: center;
    font-weight: 700;
    border-bottom: 3px solid #7ab1ff; /* Black bottom border */
    border-right: 3px solid #7ab1ff; /* Black right border */
    padding: 10px;
  }
  .selected-resume-text23 {
    top: 190px;
    left: 100px;
    width: 100px;
    height: var(--dl-size-size-small);
    position: absolute;
    font-size: 20px;
    font-style: normal;
    text-align: center;
    font-weight: 700;
    border-bottom: 3px solid #7ab1ff; /* Black bottom border */
    border-right: 3px solid #7ab1ff; /* Black right border */
    padding: 10px;
  }
  .selected-resume-text24 {
    font-size: 20px;
  }
  .selected-resume-text26 {
    top: 270px;
    left: 100px;
    width: 100px;
    height: var(--dl-size-size-small);
    position: absolute;
    font-size: 20px;
    font-style: normal;
    text-align: center;
    font-weight: 700;
    border-bottom: 3px solid #7ab1ff; /* Black bottom border */
    border-right: 3px solid #7ab1ff; /* Black right border */
    padding: 10px;
  }
  .selected-resume-text27 {
    font-size: 20px;
  }
  .selected-resume-text29 {
    top: 420px;
    left: 0px;
    right: 0px;
    width: 580px;
    height: var(--dl-size-size-small);
    margin: auto;
    position: absolute;
    font-size: 35px;
    /* max-width: 350px; */
    font-style: normal;
    text-align: center;
    font-weight: 700;
    border-bottom: 3px solid #7ab1ff; /* Black bottom border */
    padding: 5px;
  }
  .selected-resume-text32 {
    top: 25px;
    left: 0px;
    color: rgb(0, 102, 255);
    right: 0px;
    width: var(--dl-size-size-xlarge);
    height: var(--dl-size-size-small);
    margin: auto;
    position: absolute;
    font-size: 35px;
    font-style: normal;
    text-align: center;
    font-weight: 300;
  }
  .selected-resume-button6 {
    top: 740px;
    left: 0px;
    color: #7ab1ff;
    right: 0px;
    width: 153px;
    height: 57px;
    margin: auto;
    position: absolute;
    font-size: 30px;
    border-color: #7ab1ff;
  }
  .selected-resume-text38 {
    top: 190px;
    left: 400px;
    width: 100px;
    height: var(--dl-size-size-small);
    position: absolute;
    font-size: 20px;
    font-style: normal;
    text-align: center;
    font-weight: 700;
    border-bottom: 3px solid #7ab1ff; /* Black bottom border */
    border-right: 3px solid #7ab1ff; /* Black right border */
    padding: 10px;
  }
  .selected-resume-text41 {
    top: 270px;
    left: 400px;
    width: 100px;
    height: var(--dl-size-size-small);
    position: absolute;
    font-size: 20px;
    font-style: normal;
    text-align: center;
    font-weight: 700;
    border-bottom: 3px solid #7ab1ff; /* Black bottom border */
    border-right: 3px solid #7ab1ff; /* Black right border */
    padding: 10px;
  }
  .selected-resume-text44 {
    top: 350px;
    left: 100px;
    width: 100px;
    height: var(--dl-size-size-small);
    position: absolute;
    font-size: 20px;
    font-style: normal;
    text-align: center;
    font-weight: 700;
    border-bottom: 3px solid #7ab1ff; /* Black bottom border */
    border-right: 3px solid #7ab1ff; /* Black right border */
    padding: 10px;
  }
  .selected-resume-text45 {
    font-size: 20px;
  }
  .selected-resume-text47 {
    top: 350px;
    left: 400px;
    width: 100px;
    height: var(--dl-size-size-small);
    position: absolute;
    font-size: 20px;
    font-style: normal;
    text-align: center;
    font-weight: 700;
    border-bottom: 3px solid #7ab1ff; /* Black bottom border */
    border-right: 3px solid #7ab1ff; /* Black right border */
    padding: 10px;
  }
  .selected-resume-text50 {
    top: 106px;
    left: 230px;
    /* right: 0px; */
    width: 130px;
    height: 50px;
    /* margin: auto; */
    position: absolute;
    font-size: 18px;
    border: solid #ffffff;
    border-bottom: 2px solid #7ab1ff;
    border-right: 2px solid #7ab1ff;
    border-style: dashed;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .selected-resume-text51 {
    top: 104px;
    left: 530px;
    /* right: 0px; */
    width: 130px;
    height: 50px;
    /* margin: auto; */
    position: absolute;
    /* border-color: #7ab1ff;
    border-width: 1px; */
    font-size: 18px;
    border: solid #ffffff;
    border-bottom: 2px solid #7ab1ff;
    border-right: 2px solid #7ab1ff;
    border-style: dashed;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .selected-resume-text52 {
    top: 186px;
    left: 230px;
    width: 130px;
    height: 50px;
    /* margin: auto; */
    position: absolute;
    border-color: #7ab1ff;
    border-width: 1px;
    font-size: 18px;
    border: solid #ffffff;
    border-bottom: 2px solid #7ab1ff;
    border-right: 2px solid #7ab1ff;
    border-style: dashed;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .selected-resume-text53 {
    top: 186px;
    left: 530px;
    width: 130px;
    height: 50px;
    /* margin: auto; */
    position: absolute;
    border-color: #7ab1ff;
    border-width: 1px;
    font-size: 18px;
    border: solid #ffffff;
    border-bottom: 2px solid #7ab1ff;
    border-right: 2px solid #7ab1ff;
    border-style: dashed;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .selected-resume-text54 {
    top: 265px;
    left: 230px;
    width: 130px;
    height: 50px;
    /* margin: auto; */
    position: absolute;
    border-color: #7ab1ff;
    border-width: 1px;
    font-size: 18px;
    border: solid #ffffff;
    border-bottom: 2px solid #7ab1ff;
    border-right: 2px solid #7ab1ff;
    border-style: dashed;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .selected-resume-text55 {
    top: 265px;
    left: 530px;
    width: 130px;
    height: 50px;
    margin: auto;
    position: absolute;
    border-color: #7ab1ff;
    border-width: 1px;
    font-size: 18px;
    border: solid #ffffff;
    border-bottom: 2px solid #7ab1ff;
    border-right: 2px solid #7ab1ff;
    border-style: dashed;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .selected-resume-text56 {
    top: 344px;
    left: 230px;
    width: 130px;
    height: 50px;
    margin: auto;
    position: absolute;
    border-color: #7ab1ff;
    border-width: 1px;
    font-size: 18px;
    border: solid #ffffff;
    border-bottom: 2px solid #7ab1ff;
    border-right: 2px solid #7ab1ff;
    border-style: dashed;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .selected-resume-text57 {
    top: 344px;
    left: 530px;
    width: 130px;
    height: 50px;
    margin: auto;
    position: absolute;
    border-color: #7ab1ff;
    border-width: 1px;
    font-size: 18px;
    border: solid #ffffff;
    border-bottom: 2px solid #7ab1ff;
    border-right: 2px solid #7ab1ff;
    border-style: dashed;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .selected-resume-text58 {
    top: 500px;
    left: 0px;
    right: 0px;
    width: 600px;
    height: 200px;
    margin: auto;
    position: absolute;
    border-color: #7ab1ff;
    border-width: 1px;
    font-size: 18px;
    border: 2px solid #7ab1ff;
    border-top: solid #ffffff;
  
    border-style: dashed;
    text-align: left;
  }
  
  .selected-notice-email {
    top: 30px;
    left: 550px;
    width: 50px;
    height: var(--dl-size-size-small);
    position: absolute;
    font-size: 15px;
    font-style: normal;
    text-align: center;
    font-weight: 500;
    border-bottom: 2px solid #7ab1ff; /* Black bottom border */
    border-right: 2px solid #7ab1ff; /* Black right border */
    padding: 10px;
  }
  
  .selected-notice-emailtext {
    top: 18px;
    left: 630px;
    width: 130px;
    height: 50px;
    position: absolute;
    border-color: #7ab1ff;
    border-width: 1px;
    font-size: 13px;
    border: solid #ffffff;
    border-bottom: 2px solid #7ab1ff;
    border-style: dashed;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  @media(max-width: 1200px) {
    .selected-resume-text {
      top: 32px;
      left: 60px;
    }
    .selected-resume-text01 {
      top: 32px;
      left: 60px;
    }
    .selected-resume-button1 {
      top: 37px;
      right: 82px;
      position: absolute;
    }
  }