.resume-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.resume-text {
  top: 17px;
  left: 35px;
  color: rgb(0, 102, 255);
  width: var(--dl-size-size-medium);
  height: auto;
  position: absolute;
  font-size: 40px;
  font-style: italic;
  text-align: center;
  font-family: "Inter";
  font-weight: 300;
  line-height: 40px;
  font-stretch: normal;
  text-decoration: none;
}
.resume-text01 {
  top: 60px;
  left: 13px;
  color: rgb(0, 102, 255);
  width: var(--dl-size-size-xxlarge);
  height: auto;
  position: absolute;
  font-size: 22px;
  font-style: italic;
  text-align: center;
  font-family: "Inter";
  font-weight: 300;
  line-height: 40px;
  font-stretch: normal;
  text-decoration: none;
}
.resume-form {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 120px;
  display: flex;
  position: absolute;
  align-self: center;
  border-color: var(--dl-color-gray-black);
  border-style: groove;
  border-width: 2px;
}
.resume-button {
  top: 35px;
  left: 450px;
  position: absolute;
  border-color: #ffffff;
}
.resume-text02 {
  font-size: 20px;
  font-style: normal;
  font-weight: 900;
}
.resume-button1 {
  top: 37px;
  color: #ffffff;
  right: 60px;
  width: 123px;
  height: 56px;
  position: absolute;
  font-size: 20px;
  background-color: #000000;
}
.resume-button2 {
  top: 35px;
  left: 534px;
  position: absolute;
  border-color: #ffffff;
}
.resume-text08 {
  font-size: 20px;
  font-style: normal;
  font-weight: 900;
}
.resume-button3 {
  top: 35px;
  left: 690px;
  position: absolute;
  font-size: 20px;
  font-style: normal;
  font-weight: 900;
  border-color: #ffffff;
}
.resume-button4 {
  top: 35px;
  left: 877px;
  position: absolute;
  font-size: 20px;
  border-color: #ffffff;
}

.resume-view{
  top: 70px;
  left: 870px;
  position: absolute;
  font-size: 10px;
  border-color: #ffffff;
}
.resume-register{
  top: 70px;
  left: 910px;
  position: absolute;
  font-size: 10px;
  border-color: #ffffff;
}
.resume-edit{
  top: 70px;
  left: 950px;
  position: absolute;
  font-size: 10px;
  border-color: #ffffff;
}

.resume-text11 {
  font-style: normal;
  font-weight: 900;
}
.resume-button5 {
  top: 35px;
  left: 1027px;
  position: absolute;
  font-size: 20px;
  border-color: #ffffff;
}

.notice-view{
  top: 70px;
  left: 1035px;
  position: absolute;
  font-size: 10px;
  border-color: #ffffff;
}
.notice-register{
  top: 70px;
  left: 1075px;
  position: absolute;
  font-size: 10px;
  border-color: #ffffff;
}
.notice-edit{
  top: 70px;
  left: 1115px;
  position: absolute;
  font-size: 10px;
  border-color: #ffffff;
}

.resume-text14 {
  font-style: normal;
  font-weight: 900;
}
.resume-form1 {
  left: 0px;
  right: 0px;
  width: 789px;
  bottom: 0px;
  height: 800px;
  margin: auto;
  display: flex;
  position: absolute;
  box-shadow: 5px 5px 10px 5px #7ab1ff;
  border-color: #7ab1ff;
  border-width: 1px;
  justify-content: center;
}
.resume-text17 {
  top: 110px;
  left: 400px;
  width: 100px;
  height: var(--dl-size-size-small);
  position: absolute;
  font-size: 20px;
  font-style: normal;
  text-align: center;
  font-weight: 700;
  border-bottom: 3px solid #7ab1ff; /* Black bottom border */
  border-right: 3px solid #7ab1ff; /* Black right border */
  padding: 10px;
}
.resume-select {
  top: 104px;
  left: 530px;
  /* right: 0px; */
  width: 130px;
  height: 50px;
  /* margin: auto; */
  position: absolute;
  /* border-color: #7ab1ff;
  border-width: 1px; */
  font-size: 14px;
  border: solid #ffffff;
  border-bottom: 2px solid #7ab1ff;
  border-right: 2px solid #7ab1ff;
  border-style: dashed;
  display: flex;
  align-items: center;
  justify-content: center;
}
.resume-text20 {
  top: 110px;
  left: 100px;
  width: 100px;
  height: var(--dl-size-size-small);
  position: absolute;
  font-size: 20px;
  font-style: normal;
  text-align: center;
  font-weight: 700;
  border-bottom: 3px solid #7ab1ff; /* Black bottom border */
  border-right: 3px solid #7ab1ff; /* Black right border */
  padding: 10px;
}
.resume-text23 {
  top: 190px;
  left: 100px;
  width: 100px;
  height: var(--dl-size-size-small);
  position: absolute;
  font-size: 20px;
  font-style: normal;
  text-align: center;
  font-weight: 700;
  border-bottom: 3px solid #7ab1ff; /* Black bottom border */
  border-right: 3px solid #7ab1ff; /* Black right border */
  padding: 10px;
}
.resume-text24 {
  font-size: 20px;
}
.resume-text26 {
  top: 270px;
  left: 100px;
  width: 100px;
  height: var(--dl-size-size-small);
  position: absolute;
  font-size: 20px;
  font-style: normal;
  text-align: center;
  font-weight: 700;
  border-bottom: 3px solid #7ab1ff; /* Black bottom border */
  border-right: 3px solid #7ab1ff; /* Black right border */
  padding: 10px;
}
.resume-text27 {
  font-size: 20px;
}
.resume-textinput {
  top: 500px;
  left: 0px;
  right: 0px;
  width: 600px;
  height: 200px;
  margin: auto;
  position: absolute;
  border-color: #7ab1ff;
  border-width: 1px;
  font-size: 14px;
  border: 2px solid #7ab1ff;
  border-top: solid #ffffff;

  border-style: dashed;
  text-align: left;
}
.resume-text29 {
  top: 420px;
  left: 0px;
  right: 0px;
  width: 580px;
  height: var(--dl-size-size-small);
  margin: auto;
  position: absolute;
  font-size: 35px;
  /* max-width: 350px; */
  font-style: normal;
  text-align: center;
  font-weight: 700;
  border-bottom: 3px solid #7ab1ff; /* Black bottom border */
  padding: 5px;
}
.resume-textinput1 {
  top: 186px;
  left: 230px;
  width: 130px;
  height: 50px;
  /* margin: auto; */
  position: absolute;
  border-color: #7ab1ff;
  border-width: 1px;
  font-size: 14px;
  border: solid #ffffff;
  border-bottom: 2px solid #7ab1ff;
  border-right: 2px solid #7ab1ff;
  border-style: dashed;
  display: flex;
  align-items: center;
  justify-content: center;
}
.resume-textinput2 {
  top: 265px;
  left: 230px;
  width: 130px;
  height: 50px;
  /* margin: auto; */
  position: absolute;
  border-color: #7ab1ff;
  border-width: 1px;
  font-size: 14px;
  border: solid #ffffff;
  border-bottom: 2px solid #7ab1ff;
  border-right: 2px solid #7ab1ff;
  border-style: dashed;
  display: flex;
  align-items: center;
  justify-content: center;
}
.resume-text32 {
  top: 25px;
  left: 0px;
  color: rgb(0, 102, 255);
  right: 0px;
  width: var(--dl-size-size-xlarge);
  height: var(--dl-size-size-small);
  margin: auto;
  position: absolute;
  font-size: 35px;
  font-style: normal;
  text-align: center;
  font-weight: 300;
}
.resume-button6 {
  top: 740px;
  left: 0px;
  color: #7ab1ff;
  right: 0px;
  width: 153px;
  height: 57px;
  margin: auto;
  position: absolute;
  font-size: 30px;
  border-color: #7ab1ff;
}
.resume-textinput3 {
  top: 106px;
  left: 230px;
  /* right: 0px; */
  width: 130px;
  height: 50px;
  /* margin: auto; */
  position: absolute;
  font-size: 14px;
  border: solid #ffffff;
  border-bottom: 2px solid #7ab1ff;
  border-right: 2px solid #7ab1ff;
  border-style: dashed;
  display: flex;
  align-items: center;
  justify-content: center;
}
.resume-text38 {
  top: 190px;
  left: 400px;
  width: 100px;
  height: var(--dl-size-size-small);
  position: absolute;
  font-size: 20px;
  font-style: normal;
  text-align: center;
  font-weight: 700;
  border-bottom: 3px solid #7ab1ff; /* Black bottom border */
  border-right: 3px solid #7ab1ff; /* Black right border */
  padding: 10px;
}
.resume-text41 {
  top: 270px;
  left: 400px;
  width: 100px;
  height: var(--dl-size-size-small);
  position: absolute;
  font-size: 20px;
  font-style: normal;
  text-align: center;
  font-weight: 700;
  border-bottom: 3px solid #7ab1ff; /* Black bottom border */
  border-right: 3px solid #7ab1ff; /* Black right border */
  padding: 10px;
}
.resume-select1 {
  top: 186px;
  left: 530px;
  width: 130px;
  height: 50px;
  /* margin: auto; */
  position: absolute;
  border-color: #7ab1ff;
  border-width: 1px;
  font-size: 14px;
  border: solid #ffffff;
  border-bottom: 2px solid #7ab1ff;
  border-right: 2px solid #7ab1ff;
  border-style: dashed;
  display: flex;
  align-items: center;
  justify-content: center;
}
.resume-select2 {
  top: 265px;
  left: 530px;
  width: 130px;
  height: 50px;
  margin: auto;
  position: absolute;
  border-color: #7ab1ff;
  border-width: 1px;
  font-size: 14px;
  border: solid #ffffff;
  border-bottom: 2px solid #7ab1ff;
  border-right: 2px solid #7ab1ff;
  border-style: dashed;
  display: flex;
  align-items: center;
  justify-content: center;
}
.resume-text44 {
  top: 350px;
  left: 100px;
  width: 100px;
  height: var(--dl-size-size-small);
  position: absolute;
  font-size: 20px;
  font-style: normal;
  text-align: center;
  font-weight: 700;
  border-bottom: 3px solid #7ab1ff; /* Black bottom border */
  border-right: 3px solid #7ab1ff; /* Black right border */
  padding: 10px;
}
.resume-text45 {
  font-size: 20px;
}
.resume-textinput4 {
  top: 344px;
  left: 230px;
  width: 130px;
  height: 50px;
  margin: auto;
  position: absolute;
  border-color: #7ab1ff;
  border-width: 1px;
  font-size: 14px;
  border: solid #ffffff;
  border-bottom: 2px solid #7ab1ff;
  border-right: 2px solid #7ab1ff;
  border-style: dashed;
  display: flex;
  align-items: center;
  justify-content: center;
}
.resume-text47 {
  top: 350px;
  left: 400px;
  width: 100px;
  height: var(--dl-size-size-small);
  position: absolute;
  font-size: 20px;
  font-style: normal;
  text-align: center;
  font-weight: 700;
  border-bottom: 3px solid #7ab1ff; /* Black bottom border */
  border-right: 3px solid #7ab1ff; /* Black right border */
  padding: 10px;
}
.resume-select3 {
  top: 344px;
  left: 530px;
  width: 130px;
  height: 50px;
  margin: auto;
  position: absolute;
  border-color: #7ab1ff;
  border-width: 1px;
  font-size: 14px;
  border: solid #ffffff;
  border-bottom: 2px solid #7ab1ff;
  border-right: 2px solid #7ab1ff;
  border-style: dashed;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media(max-width: 1200px) {
  .resume-text {
    top: 32px;
    left: 60px;
  }
  .resume-text01 {
    top: 32px;
    left: 60px;
  }
  .resume-button1 {
    top: 37px;
    right: 82px;
    position: absolute;
  }
}
