.resume-result-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.resume-result-text {
  top: 17px;
  left: 35px;
  color: rgb(0, 102, 255);
  width: var(--dl-size-size-medium);
  height: auto;
  position: absolute;
  font-size: 40px;
  font-style: italic;
  text-align: center;
  font-family: "Inter";
  font-weight: 300;
  line-height: 40px;
  font-stretch: normal;
  text-decoration: none;
}
.resume-result-text01 {
  top: 60px;
  left: 13px;
  color: rgb(0, 102, 255);
  width: var(--dl-size-size-xxlarge);
  height: auto;
  position: absolute;
  font-size: 22px;
  font-style: italic;
  text-align: center;
  font-family: "Inter";
  font-weight: 300;
  line-height: 40px;
  font-stretch: normal;
  text-decoration: none;
}
.resume-result-form {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 120px;
  display: flex;
  position: absolute;
  align-self: center;
  border-color: var(--dl-color-gray-black);
  border-style: groove;
  border-width: 2px;
}
.resume-result-button {
  top: 35px;
  left: 450px;
  position: absolute;
  border-color: #ffffff;
}
.resume-result-text02 {
  font-size: 20px;
  font-style: normal;
  font-weight: 900;
}
.resume-result-button1 {
  top: 37px;
  color: #ffffff;
  right: 60px;
  width: 123px;
  height: 56px;
  position: absolute;
  font-size: 20px;
  background-color: #000000;
}
.resume-result-button2 {
  top: 35px;
  left: 534px;
  position: absolute;
  border-color: #ffffff;
}
.resume-result-text08 {
  font-size: 20px;
  font-style: normal;
  font-weight: 900;
}
.resume-result-button3 {
  top: 35px;
  left: 690px;
  position: absolute;
  font-size: 20px;
  font-style: normal;
  font-weight: 900;
  border-color: #ffffff;
}
.resume-result-button4 {
  top: 35px;
  left: 877px;
  position: absolute;
  font-size: 20px;
  border-color: #ffffff;
}
.resume-result-text11 {
  font-style: normal;
  font-weight: 900;
}
.resume-result-button5 {
  top: 35px;
  left: 1027px;
  position: absolute;
  font-size: 20px;
  border-color: #ffffff;
}
.resume-result-text14 {
  font-style: normal;
  font-weight: 900;
}
.resume-result-textinput {
  top: 177px;
  left: 0px;
  right: 0px;
  width: 425px;
  height: 63px;
  margin: auto;
  position: absolute;
  border-color: #0066ff;
}
.resume-result-form1 {
  top: 340px;
  left: 0px;
  right: 0px;
  width: 699px;
  height: 116px;
  margin: auto;
  display: flex;
  position: absolute;
  box-shadow: 5px 5px 10px 0px #7ab1ff;
  border-color: #7ab1ff;
  border-width: 1px;
}
.resume-result-text17 {
  top: 40px;
  left: 80px;
  color: rgb(0, 102, 255);
  width: var(--dl-size-size-large);
  height: var(--dl-size-size-small);
  position: absolute;
  font-size: 25px;
  text-align: center;
}
.resume-result-text18 {
  top: 40px;
  left: 0px;
  color: rgb(0, 102, 255);
  right: 0px;
  width: var(--dl-size-size-large);
  height: var(--dl-size-size-small);
  margin: auto;
  position: absolute;
  font-size: 25px;
  text-align: center;
}
.resume-result-text19 {
  top: 40px;
  color: rgb(0, 102, 255);
  right: 80px;
  width: var(--dl-size-size-large);
  height: var(--dl-size-size-small);
  position: absolute;
  font-size: 25px;
  text-align: center;
}
.resume-result-form2 {
  top: 520px;
  left: 0px;
  right: 0px;
  width: 699px;
  height: 116px;
  margin: auto;
  display: flex;
  position: absolute;
  box-shadow: 5px 5px 10px 0px #7ab1ff;
  border-color: #7ab1ff;
  border-width: 1px;
}
.resume-result-text20 {
  top: 40px;
  left: 80px;
  color: rgb(0, 102, 255);
  width: var(--dl-size-size-large);
  height: var(--dl-size-size-small);
  position: absolute;
  font-size: 25px;
  text-align: center;
}
.resume-result-text21 {
  top: 40px;
  left: 0px;
  color: rgb(0, 102, 255);
  right: 0px;
  width: var(--dl-size-size-large);
  height: var(--dl-size-size-small);
  margin: auto;
  position: absolute;
  font-size: 25px;
  text-align: center;
}
.resume-result-text22 {
  top: 40px;
  color: rgb(0, 102, 255);
  right: 80px;
  width: var(--dl-size-size-large);
  height: var(--dl-size-size-small);
  position: absolute;
  font-size: 25px;
  text-align: center;
}
.resume-result-form3 {
  top: 700px;
  left: 0px;
  right: 0px;
  width: 699px;
  height: 116px;
  margin: auto;
  display: flex;
  position: absolute;
  box-shadow: 5px 5px 10px 0px #7ab1ff;
  border-color: #7ab1ff;
  border-width: 1px;
}
.resume-result-text23 {
  top: 40px;
  left: 80px;
  color: rgb(0, 102, 255);
  width: var(--dl-size-size-large);
  height: var(--dl-size-size-small);
  position: absolute;
  font-size: 25px;
  text-align: center;
}
.resume-result-text24 {
  top: 40px;
  left: 0px;
  color: rgb(0, 102, 255);
  right: 0px;
  width: var(--dl-size-size-large);
  height: var(--dl-size-size-small);
  margin: auto;
  position: absolute;
  font-size: 25px;
  text-align: center;
}
.resume-result-text25 {
  top: 40px;
  color: rgb(0, 102, 255);
  right: 80px;
  width: var(--dl-size-size-large);
  height: var(--dl-size-size-small);
  position: absolute;
  font-size: 25px;
  text-align: center;
}
.resume-result-button6 {
  top: 200px;
  left: 1080px;
  color: rgb(0, 0, 0);
  position: absolute;
  border-color: #7ab1ff;
}
.resume-result-text26 {
  color: #7ab1ff;
}
.resume-result-footer {
  left: 123px;
  width: 100%;
  bottom: 38px;
  display: flex;
  position: absolute;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: flex-end;
}
.resume-result-text29 {
  top: 29px;
  left: 536px;
  position: absolute;
}
.resume-result-icon-group {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.resume-result-icon {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.resume-result-icon2 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.resume-result-icon4 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.resume-result-button7 {
  top: 530px;
  left: 240px;
  color: #7ab1ff;
  position: absolute;
  font-size: 60px;
  border-color: #ffffff;
}
.resume-result-button8 {
  top: 530px;
  color: rgb(122, 177, 255);
  right: 240px;
  position: absolute;
  font-size: 60px;
  border-color: #ffffff;
}

.sort-dropdown {
  top:250px;
  left:150px;
  display: inline-block;
  position: absolute;
  border-color: #7ab1ff;
  border-width: 1px;
}

.dropdown button {
  background-color: white;
  border: 1px solid #7ab1ff;
  color: #7ab1ff;
  padding: 10px;
  cursor: pointer;
  width:90px;
}

.sort-options {
  display: none;
  position: absolute;
  overflow: auto;
  background-color:#fff;
  border-radius:5px;
  box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.4);
}

.dropdown:hover .sort-options {
  display: block;
}

.sort-options a {
  display: block;
  color: #000000;
  padding: 5px;
  text-decoration: none;
  /* padding:20px 40px; */
  font-size:10px;
  width:110px;
}

.sort-options a:hover {
  color: #0a0a23;
  background-color: #ddd;
  border-radius:5px;
}


@media(max-width: 1200px) {
  .resume-result-text {
    top: 32px;
    left: 60px;
  }
  .resume-result-text01 {
    top: 32px;
    left: 60px;
  }
  .resume-result-button1 {
    top: 37px;
    right: 82px;
    position: absolute;
  }
}
@media(max-width: 767px) {
  .resume-result-footer {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .resume-result-text29 {
    text-align: center;
    margin-left: var(--dl-space-space-unit);
    margin-right: var(--dl-space-space-unit);
  }
}
@media(max-width: 479px) {
  .resume-result-footer {
    padding: var(--dl-space-space-unit);
    flex-direction: column;
  }
  .resume-result-text29 {
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-unit);
  }
}
