.selected-notice-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.selected-notice-text {
  top: 17px;
  left: 35px;
  color: rgb(0, 102, 255);
  width: var(--dl-size-size-medium);
  height: auto;
  position: absolute;
  font-size: 40px;
  font-style: italic;
  text-align: center;
  font-family: "Inter";
  font-weight: 300;
  line-height: 40px;
  font-stretch: normal;
  text-decoration: none;
}
.selected-notice-text01 {
  top: 60px;
  left: 13px;
  color: rgb(0, 102, 255);
  width: var(--dl-size-size-xxlarge);
  height: auto;
  position: absolute;
  font-size: 22px;
  font-style: italic;
  text-align: center;
  font-family: "Inter";
  font-weight: 300;
  line-height: 40px;
  font-stretch: normal;
  text-decoration: none;
}
.selected-notice-form {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 120px;
  display: flex;
  position: absolute;
  align-self: center;
  border-color: var(--dl-color-gray-black);
  border-style: groove;
  border-width: 2px;
}
.selected-notice-button {
  top: 35px;
  left: 450px;
  position: absolute;
  border-color: #ffffff;
}
.selected-notice-text02 {
  font-size: 20px;
  font-style: normal;
  font-weight: 900;
}
.selected-notice-button1 {
  top: 37px;
  color: #ffffff;
  right: 60px;
  width: 123px;
  height: 56px;
  position: absolute;
  font-size: 20px;
  background-color: #000000;
}
.selected-notice-button2 {
  top: 35px;
  left: 534px;
  position: absolute;
  border-color: #ffffff;
}
.selected-notice-text08 {
  font-size: 20px;
  font-style: normal;
  font-weight: 900;
}
.selected-notice-button3 {
  top: 35px;
  left: 690px;
  position: absolute;
  font-size: 20px;
  font-style: normal;
  font-weight: 900;
  border-color: #ffffff;
}
.selected-notice-button4 {
  top: 35px;
  left: 877px;
  position: absolute;
  font-size: 20px;
  border-color: #ffffff;
}
.selected-notice-text11 {
  font-style: normal;
  font-weight: 900;
}
.selected-notice-button5 {
  top: 35px;
  left: 1027px;
  position: absolute;
  font-size: 20px;
  border-color: #ffffff;
}
.selected-notice-text14 {
  font-style: normal;
  font-weight: 900;
}
.selected-notice-form1 {
  left: 0px;
  right: 0px;
  width: 922px;
  bottom: -1px;
  height: 800px;
  margin: auto;
  display: flex;
  position: absolute;
  box-shadow: 5px 5px 10px 5px #7ab1ff;
  margin-top: auto;
  border-color: #7ab1ff;
  border-width: 1px;
  background-color: #ffffff;
}
.selected-notice-text17 {
  top: 270px;
  left: 158px;
  width: var(--dl-size-size-medium);
  height: var(--dl-size-size-small);
  position: absolute;
  font-size: 35px;
  font-style: normal;
  text-align: center;
  font-weight: 700;
}
.selected-notice-text20 {
  top: 185px;
  left: 136px;
  width: var(--dl-size-size-large);
  height: var(--dl-size-size-small);
  position: absolute;
  font-size: 35px;
  font-style: normal;
  text-align: center;
  font-weight: 700;
}
.selected-notice-text23 {
  top: 465px;
  left: 164px;
  width: var(--dl-size-size-medium);
  height: var(--dl-size-size-small);
  position: absolute;
  font-size: 35px;
  font-style: normal;
  text-align: center;
  font-weight: 700;
}
.selected-notice-text26 {
  top: 540px;
  left: 0px;
  right: 0px;
  width: var(--dl-size-size-maxwidth);
  height: var(--dl-size-size-small);
  margin: auto;
  position: absolute;
  font-size: 35px;
  max-width: 350px;
  font-style: normal;
  text-align: center;
  font-weight: 700;
}
.selected-notice-text29 {
  top: 370px;
  left: 131px;
  width: var(--dl-size-size-medium);
  height: var(--dl-size-size-small);
  position: absolute;
  font-size: 35px;
  font-style: normal;
  text-align: center;
  font-weight: 700;
}
.selected-notice-text32 {
  top: 380px;
  left: 441px;
  width: var(--dl-size-size-medium);
  height: var(--dl-size-size-small);
  position: absolute;
  font-size: 25px;
  font-style: normal;
  text-align: center;
  font-weight: 500;
}
.selected-notice-text35 {
  top: 26px;
  left: 0px;
  color: #0066ff;
  right: 0px;
  width: var(--dl-size-size-large);
  height: var(--dl-size-size-small);
  margin: auto;
  position: absolute;
  font-size: 40px;
  font-style: normal;
  text-align: center;
  font-weight: 300;
}
.selected-notice-button6 {
  left: 0px;
  color: #7ab1ff;
  right: 0px;
  width: 153px;
  bottom: 10px;
  height: 57px;
  margin: auto;
  position: absolute;
  font-size: 30px;
  border-color: #7ab1ff;
  padding-right: var(--dl-space-space-halfunit);
}
.selected-notice-text41 {
  top: 98px;
  left: 136px;
  width: var(--dl-size-size-large);
  height: var(--dl-size-size-small);
  position: absolute;
  font-size: 35px;
  font-style: normal;
  text-align: center;
  font-weight: 700;
}
.selected-notice-text44 {
  top: 105px;
  left: 585px;
  width: var(--dl-size-size-large);
  height: var(--dl-size-size-small);
  position: absolute;
  font-size: 35px;
  font-style: normal;
  text-align: center;
  font-weight: 700;
}
.selected-notice-text45 {
  font-size: 25px;
}
.selected-notice-text47 {
  top: 95px;
  left: 260px;
  width: 300px;
  height: 50px;
  position: absolute;
  border-color: #7ab1ff;
  border-width: 1px;
}
.selected-notice-text48 {
  top: 95px;
  left: 700px;
  width: 150px;
  height: 50px;
  position: absolute;
  border-color: #7ab1ff;
  border-width: 1px;
}
.selected-notice-text49 {
  top: 181px;
  left: 0px;
  right: 0px;
  width: 300px;
  height: 50px;
  margin: auto;
  position: absolute;
  border-color: #7ab1ff;
  border-width: 1px;
}
.selected-notice-text50 {
  top: 269px;
  left: 0px;
  right: 0px;
  width: 300px;
  height: 50px;
  margin: auto;
  position: absolute;
  border-color: #7ab1ff;
  border-width: 1px;
}
.selected-notice-text51 {
  top: 369px;
  left: 316px;
  width: 100px;
  height: 50px;
  margin: auto;
  position: absolute;
  border-color: #7ab1ff;
  border-width: 1px;
}
.selected-notice-text52 {
  top: 462px;
  left: 0px;
  right: 0px;
  width: 300px;
  height: 50px;
  margin: auto;
  position: absolute;
  border-color: #7ab1ff;
  border-width: 1px;
}
.selected-notice-text53 {
  top: 595px;
  left: 0px;
  right: 0px;
  width: 500px;
  height: 100px;
  margin: auto;
  position: absolute;
  border-color: #7ab1ff;
  border-width: 1px;
}
@media(max-width: 1200px) {
  .selected-notice-text {
    top: 32px;
    left: 60px;
  }
  .selected-notice-text01 {
    top: 32px;
    left: 60px;
  }
  .selected-notice-button1 {
    top: 37px;
    right: 82px;
    position: absolute;
  }
}
